<section class="row ">
    <footer class="bg-secondary text-white py-4">
        <div class="container">
            <section class="row">
                
                <div class="col-md-3 mb-3">
                    <h5>TEKKEN Shopping Center</h5>
                    <p>Your one-shop for the latest cars, motorbikes,bicycle and accessories.</p>
                </div>
                
                <div class="col-md-3 mb-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a class='text-light' href="/about">About Us</a></li>
                        <li><a class='text-light' href="/services">Services</a></li>
                        <li><a class='text-light' href="/faqs">FAQs</a></li>
                        <li><a class='text-light' href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                
                <div class="col-md-3 mb-3">
                    <h5>Contact Us</h5>
                    <p><b>Address:</b> 123 Railway Avenue, Nairobi, Kenya</p>
                    <p><b>Email:</b> info@tekken.co.ke</p>
                    <p><b>Phone:</b> +254 700 123456</p>


                </div>
                <div class="col-md-3 mb-3">
                    <h5><b>Follow Us</b></h5>
                    <div class="d-flex me-3">
                        
                        <p><img src="../static/images/x.png" alt="" width = "30" height="30"></p>
                        <p><img src="../static/images/in.png" alt="" width = "30" height="30"></p>
                        <p><img src="../static/images/fb.png" alt="" width = "30" height="30"></p>

                    </div>
                </div>

            </section>
            <div style="height: 10px;">
                <hr>
            </div>
            <div class="text-center mt-4">
                <p class="mb-0 text-center">&copy; All Rights Reserved|<b>Privacy Policy</b></p>
            </div>
        </div>
    </footer>
</section>