
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEKKEN Admin</title>
    <!-- css supporting files -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/lightslider.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- js supporting files  -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/lightslider.js"></script>
    <script src="../static/js/script.js"></script>

    
</head>
<body>
    <div class="container-fluid">
        <!-- insert navbar.html using jinja2 templates -->
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="/">TEKKEN</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="btn btn-outline-warning bg-muted" href="/admin_dashboard">Back</a>
                
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <h1 class="text-center">User Management</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>User Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                    {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>
                            <a href="#" class="btn btn-danger" 
                               onclick="if(confirm('Are you sure you want to delete this user?')) { window.location.href='/delete_user/{{ user[0] }}'; }">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No users found.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>

    

